<launch>
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="x_pos" default="1.0"/>
  <arg name="y_pos" default="1.0"/>
  <arg name="z_pos" default="0.0"/>
  <arg name="simulation" default="true"/>
  <arg name="run_script" default="true"/>
  <arg name="robot" default="robot1"/>

  <include file="$(find turtlebot3_bringup)/launch/turtlebot3_remote.launch">
    <arg name="model" value="$(arg model)"/>
  </include>

  <!-- Open gazebo, only using sim time if simulation is set to true -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find turtlebot3_gazebo)/worlds/empty.world"/>
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="$(arg simulation)"/>
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
    </include>

  <group if="$(arg simulation)">
      <!-- Only spawn the model in gazebo if simulation is set to true -->
    <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf" args="-urdf -model turtlebot3_$(arg model) -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param robot_description" />
  </group>
  
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find lab3)/rviz/rbe3002_lab3.rviz"/>

  <node pkg="map_server" type="map_server" name="map_server" args="$(find lab3)/maps/simple_map.yaml"/>
  
  <node pkg="tf" type="static_transform_publisher" name="map_to_odom" args="0 0 0 0 0 0 /map robot1_tf/odom 100"/>
  
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro" />

  <node name="lab2" pkg="lab2" type="lab2.py" output="screen">
    <param name="robot" value="$(arg robot)" />
  </node>

  <group if="$(arg run_script)">
    <!-- If statement for running lab2.py and path_planner.py -->
    <node name="lab3" pkg="lab3" type="path_planner.py" output="screen">
      <param name="robot" value="$(arg robot)" />
    </node>
  </group>

</launch>
