<launch>
    <arg name="robot_name"/>
    <arg name="init_pose"/>
    <arg name="robottf"/>

    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="$(arg init_pose) -urdf 
    -param /robot_description     -model $(arg robot_name)" respawn="false" output="screen"/>

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" 
    output="screen"/>

    <node pkg="tf" type="static_transform_publisher" name="map_to_odom" args="0 0 0 0 0 0 /map $(arg robottf)/odom 100"/>

    <node name="pathfollow" pkg="task-mapf" type="lab2.py" output="screen">
        <param name="robottf" value="$(arg robottf)"/>
    </node>
    <!-- <node name="$(arg robot_name)pathplan" pkg="lab3" type="path_planner.py" output="screen"/> -->
    
</launch>